<!doctype html>
{% extends "base.html" %}
{% block content %}
<html>
<head>
    {% load static %}
    <title>InvestED</title>
    <link rel="icon" href="img/favicon.ico">
    <style>
        .wrap::before {
            position: absolute;
            height: 100vh;
            width: 100vw;
            content: '';
            z-index: 1;
            background-color: rgba(0,0,0,0.5);
        }
        .lead {
            font-size: 1.175em;
            font-weight: 300;
        }
        .uk-logo img {
            height: 28px;
        }
	</style>

</head>

<body class="uk-light wrap uk-background-norepeat uk-background-cover uk-background-center-center uk-cover-container uk-background-secondary">
    <img data-srcset="https://picsum.photos/id/1048/5616/3744 640w,
                    https://picsum.photos/id/1048/5616/3744 960w,
                    https://picsum.photos/id/1048/5616/3744 1200w,
                    https://picsum.photos/id/1048/5616/3744 2000w"
            sizes="100vw"
            data-src="https://picsum.photos/id/1048/5616/3744" alt="" data-uk-cover data-uk-img
    >
    <div class="uk-flex uk-flex-center uk-flex-middle uk-height-viewport uk-position-z-index uk-position-relative" data-uk-height-viewport="min-height: 400">
        <!-- NAV -->
        <div class="uk-position-top">
            <div class="uk-container uk-container-small">
                <nav class="uk-navbar-container uk-navbar-transparent" data-uk-navbar>  
                    <div class="uk-navbar-left">
                        <div class="uk-navbar-item">
                            <a class="uk-logo" href="/"><img src="{% static "invested_logo.png" %}"  alt="InvestED"></a>
                        </div>
                    </div>
                    <div class="uk-navbar-right">
                        <ul class="uk-navbar-nav">
                            <li class="uk-active uk-visible@m"><a href="https://github.com/jeffreyzhang2001/investmate" data-uk-icon="icon: github; ratio: 1.3"></a></li>
                            <li class="uk-active uk-visible@m"><a href="/" data-uk-icon="home"></a></li>
                            <li class="uk-visible@s"><a href="/about">About</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- /NAV -->
        <!-- TEXT -->
        <div class="uk-container uk-container-small uk-flex-auto uk-text-center" data-uk-scrollspy="target: > .animate; cls: uk-animation-slide-bottom-small uk-invisible; delay: 300">
                <div class="uk-width-4-5@m uk-margin-auto animate uk-invisible uk-padding-small uk-padding-remove-bottom">
                    <p class="uk-text-secondary">Select an investment strategy that suits you. <a uk-icon="icon: question" uk-tooltip="Click me for more information!" href="#modal-center" uk-toggle></a>
                    
                        <div id="modal-center" class="uk-flex-top" uk-modal>
                            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                        
                                <button class="uk-modal-close-default" type="button" uk-close></button>
                        
                                <div uk-grid>
                                    <div class="uk-width-small@m">
                                
                                        <ul class="uk-nav uk-nav-default" uk-switcher="connect: #component-nav; animation: uk-animation-fade">
                                            <li ><a href="#">Active</a></li>
                                            <li><a href="#">Item</a></li>
                                            <li><a href="#">Item</a></li>
                                        </ul>
                                
                                    </div>
                                    <div class="uk-width-expand@m">
                                
                                        <ul id="component-nav" class="uk-switcher uk-text-danger">
                                            <li>Long-term stable growth is predicted considering a few factors:
                                                Forward-looking sales growth considers the ability for sales to increase a company’s revenue over a period of time. Through this, stock analysts forecast growth in order to determine the expected long-term earnings of companies
                                                
                                                EBITDA growth
                                                Earnings before interest, taxation, depreciation, and amortization is an indicator that highlights the overall financial performance and profitability of a company that is easily comparable to other companies
                                                
                                                EPS growth
                                                Earnings per share is the profit divided by the number of outstanding issued stock, acting as another measure of profitability that is quantitatively related to stock purchased. 
                                                </li>
                                            <li>Forward-looking ROE
                                                Return on equity is calculated as the net income divided by shareholder’s equity (assets minus liabilities), acting as a measure of their profitability in relation to assets consumed.
                                                
                                                ROCE
                                                Return on capital employed measures to the efficiency at which a company’s capital is being used.
                                                
                                                CROCI 
                                                Cash return on capital invested measures the cash profits of a company in relation to the funds used to generate those profits, allowing investors another insight into its cash flow.
                                                </li>
                                            <li>Forward-looking P/E
                                                The price to earnings ratio is a measure of the current share price relative to earnings per share, essentially providing an expected profit per share for investors, as well as an opportunity to compare with past price shifts.
                                                
                                                P/B
                                                The price to book ratio gives a comparison between the market value of a stock and its account balance sheet, allowing for the depreciation of assets to be incorporated into stock considerations.
                                                
                                                P/D
                                                The price to dividends ratio allows analysts to assess both the amount of dividends being paid out to shareholders as well as provides insight as to the growth potential of a company. 
                                                
                                                EV/EBITDA
                                                The enterprise-value (the company’s total value) to earnings before interest, taxation, depreciation, and amortization ratio compares the company’s value, debt included, to its cash earnings minus its non-cash expenses. Allows for an interesting insight into the growth rate of a company, especially in relation to similarly valued enterprises. 
                                                
                                                EV/FCF
                                                The enterprise-value to free cash flow ratio compares the value of the company to its ability to generate cash. This provide insight into an enterprises ability to repay the cost of acquisition or reinvest into its business, displaying its stability or lackthereof.
                                                
                                                EV/Debt Adjusted Cash Flow (DACF)
                                                The enterprise-value to debt-adjusted cash flow is similar to EV/FCF as it is used to analyze the value of the company in relation to its cash flow. The EV/DACF ratio is useful as it is an after-tax calculation.  
                                                </li>
                                        </ul>
                                
                                    </div>
                                </div>  
                        
                            </div>
                        </div></p>
                    
                </div>
        
        <div class="uk-card uk-child-width-expand@s uk-text-center" uk-card>
            <div>
                <a href={{long}}><div class="uk-card uk-card-default uk-card-body uk-margin-left" uk-tooltip="Sales growth measures the ability of sales to increase revenue over a period of time.">Long-Term Growth</div></a>
                
            </div>

            <div>
                <a href={{high_return}}><div class="uk-card uk-background-secondary uk-card-body uk-margin-left" uk-tooltip="">High Potential Return</div></a>
            </div>

            <div>
                <a href={{currently_undervalued}}><div class="uk-card uk-card-default uk-card-body uk-margin-left" uk-tooltip="">Currently Undervalued</div></a>
            </div>

            <div>
                <a href={{well_rounded}}><div class="uk-card uk-background-secondary uk-card-body uk-margin-left" uk-tooltip="The integrated score is a composite of the growth, returns, and multiple scores. It provides an overall outlook for the stock that has been chosen.">Well-Roundedness</div></a>
            </div>
        </div>
    </div>

        <!-- /TEXT -->
    </div>
</body>
</html>

{% endblock %}