<!doctype html>
{% extends "base.html" %}
{% block content %}
<html>
<head>
    {% load static %}
    <title>InvestED</title>
    <link rel="icon" href="img/favicon.ico">
    <style>
        .wrap::before {
            position: absolute;
            height: 100vh;
            width: 100vw;
            content: '';
            z-index: 1;
            background-color: rgba(0,0,0,0.5);
        }
        .lead {
            font-size: 1.175em;
            font-weight: 300;
        }
        .uk-logo img {
            height: 28px;
        }
	</style>

</head>

<body class="uk-light wrap uk-background-norepeat uk-background-cover uk-background-center-center uk-cover-container uk-background-secondary">
    <img data-srcset="https://picsum.photos/id/1048/5616/3744 640w,
                    https://picsum.photos/id/1048/5616/3744 960w,
                    https://picsum.photos/id/1048/5616/3744 1200w,
                    https://picsum.photos/id/1048/5616/3744 2000w"
            sizes="100vw"
            data-src="https://picsum.photos/id/1048/5616/3744" alt="" data-uk-cover data-uk-img
    >
    <div class="uk-flex uk-flex-center uk-flex-middle uk-height-viewport uk-position-z-index uk-position-relative" data-uk-height-viewport="min-height: 400">
        <!-- NAV -->
        <div class="uk-position-top">
            <div class="uk-container uk-container-small">
                <nav class="uk-navbar-container uk-navbar-transparent" data-uk-navbar>  
                    <div class="uk-navbar-left">
                        <div class="uk-navbar-item">
                            <a class="uk-logo" href="/"><img src="{% static "invested_logo.png" %}"  alt="InvestED"></a>
                        </div>
                    </div>
                    <div class="uk-navbar-right">
                        <ul class="uk-navbar-nav">
                            <li class="uk-active uk-visible@m"><a href="https://github.com/jeffreyzhang2001/investmate" data-uk-icon="icon: github; ratio: 1.3"></a></li>
                            <li class="uk-active uk-visible@m"><a href="/" data-uk-icon="home"></a></li>
                            <li class="uk-visible@s"><a href="/about">About</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- /NAV -->
        <!-- TEXT -->
        <div class="uk-container uk-container-small uk-flex-auto uk-text-center" data-uk-scrollspy="target: > .animate; cls: uk-animation-slide-bottom-small uk-invisible; delay: 300">
                <div class="uk-width-4-5@m uk-margin-auto animate uk-invisible uk-padding-small uk-padding-remove-bottom">
                    <p class="uk-text-secondary uk-text-lead">Select an investment strategy that suits you. <a uk-icon="icon: question" uk-tooltip="Click me for more information!" href="#modal-center" uk-toggle></a>
                    
                        <div id="modal-center" class="uk-flex-top" uk-modal>
                            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                        
                                <button class="uk-modal-close-default" type="button" uk-close></button>
                        
                                <div uk-grid>
                                    <div class="uk-width-small@m">
                                
                                        <ul class="uk-nav uk-nav-default uk-text-danger" uk-switcher="connect: #component-nav; animation: uk-animation-fade">
                                            <li><a href="#" style="color:black;">Long-Term Growth</a></li>
                                            <li><a href="#" style="color:black;">High Potential Return</a></li>
                                            <li><a href="#" style="color:black;">Currently Undervalued</a></li>
                                        </ul>
                                
                                    </div>
                                    <div class="uk-width-expand@m">
                                        <ul id="component-nav" class="uk-switcher uk-text-danger">
                                            <p>Long-term stable growth is predicted considering a few key factors:
                                                    <b>Forward-looking sales growth</b> measures the ability for sales to increase company revenue, allowing for estimated long-term forecasts. Similarly, <b>EBITDA</b> considers both a company’s value and liabilities to highlight a company’s profitability. Moreover, <b>EPS</b>, Earnings per share, is the profit divided by the number of extra issued stock, acting as another quantitative measure of profitability.
                                            </p>
                                            <li>Efficient resource use that translates to expected immediate return considers a number of statistics:
                                                    Forward-looking ROE
                                                    <b>Return on equity</b> is calculated as the net income divided by shareholder’s equity (assets minus liabilities), acting as a measure of their profitability in relation to assets consumed.
                                                    ROCE
                                                    <b>Return on capital</b> employed measures to the efficiency at which a company’s capital is being used.
                                                    CROCI 
                                                    <b>Cash return on capital</b> invested measures the cash profits of a company in relation to the funds used to generate those profits, allowing investors another insight into its cash flow.
                                                </li>
                                            <li>Currently undervalued is an interesting stock that focuses on considering finances that might indicate a stock should be doing better than it currently stands, indicating that purchasing it may lead to a fairly large net positive. Some of the factors considered include the Forward-looking <b>Price to Earnings</b> ratio that measures current share price relative to average earnings and the <b>Price to Book</b> ratio that gives a comparison between the market value of a stock and the company's valuation, taking into account both their liabilities and assets. The <b>Price to Dividends</b> ratio assesses the dividends paid to shareholders, providing a straightforward look into profitability. On the other hand, <b>EV/EBITDA</b> and <b>EV/FCF</b> are two enterprise concerning ratios that compare a company’s valuation to its ability to generate cash.
                                                </li>
                                        </ul>
                                
                                    </div>
                                </div>  
                        
                            </div>
                        </div></p>
                    
                </div>
        
        <div class="uk-card uk-child-width-expand@s uk-text-center" uk-card>
            <div>
                <a href={{long}}><div class="uk-card uk-card-default uk-card-body uk-margin-left" uk-tooltip="Choose the growth category if you want to pursue to long-term stable growth in stock value.">Long-Term Growth</div></a>
                
            </div>

            <div>
                <a href={{high_return}}><div class="uk-card uk-background-secondary uk-card-body uk-margin-left" uk-tooltip="Choose the financial return category for companies that can efficiently use capital and assets to increase profitability for a high likelihood of immediate profit.">High Potential Return</div></a>
            </div>

            <div>
                <a href={{currently_undervalued}}><div class="uk-card uk-card-default uk-card-body uk-margin-left" uk-tooltip="Choose the currently undervalued category for companies with stocks whose financials indicate that they may be worth much more than they are currently sold at but may involve more risk.">Currently Undervalued</div></a>
            </div>

            <div>
                <a href={{well_rounded}}><div class="uk-card uk-background-secondary uk-card-body uk-margin-left" uk-tooltip="The integrated score is a composite of the growth, returns, and multiple scores. It provides an overall outlook for the stock that has been chosen.">Well-Roundedness</div></a>
            </div>
        </div>
    </div>

        <!-- /TEXT -->
    </div>
</body>
</html>

{% endblock %}